// app global css in SCSS form

.announcement-banner {
    border: 8px $primary solid;
}

.banner {
    font-family: 'Montserrat', sans-serif;
    background-color: #7e79b8;
    height: 200px;
}

@media screen and (max-width: 600px) {
    .banner {
        height: 100px;
    }
}

.admin-nav {
    background-color: #c4c9e5;
    height: 100vh;
}
