// app global css in SCSS form

.announcement-banner {
    border: 8px $primary solid;
}

.banner {
    background-image: url(/images/banner-background.jpeg);
    background-repeat: repeat-x;
    height: 200px;
}

@media screen and (max-width: 600px) {
    .banner {
        height: 100px;
    }
}

.admin-nav {
    background-color: #c4c9e5;
    height: 100vh;
}
